/****************************************************************************
*****************************************************************************


  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/


*****************************************************************************
****************************************************************************/

/*-------------------------------------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-------------------------------------------------------------------*/

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/*-------------------------------------------------------------------
    BUTTON GRADIENT TRANSITION
-------------------------------------------------------------------*/

@keyframes button_hover {
	0% {
		left: -25%;
	}
	25% {
		left: -50%;
	}
	75% {
		left: 0%;
	}
	100% {
		left: -25%;
	}
}