/*-------------------------------------------------------------------
    FORMS
-------------------------------------------------------------------*/
form {
  max-width: 1024px !important;
  margin: 0 auto !important;
  padding: 0 35px;
  background-color: var(--White);
  position: relative;
  z-index: 2;
  & ul { 
    padding:0; 
  }
  & li.gfield { 
    margin-top: 2rem !important; 
    position: relative; 
    list-style: none;
    z-index: 2;
    &.gf_list_inline > label {
      transition: none;
    }
    &.no-label > label { display: none !important; }
    &.target.space-out {
      margin-top: 5rem !important;
      & > label {
        margin-top: -.75rem;
      }
    }
    &.target > label {
      top: 0px;
      left: 0;
      font-size: 14px !important;
    }
    & > label {
      color: var(--BlackCopy);
      font-family: var(--BodyCopy);
      font-size: rem(20) !important;
      font-weight: 400 !important;
      position: absolute;
      left: 14px;
      top: 18px;
      z-index: 1;
      transition: all .5s ease-in-out 0s;
    }
  }
  & input, & input:focus,
  & select, & select:focus,
  & textarea, & textarea:focus {
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--Grey);
    background: transparent !important;
    outline: none;
    padding: rem(18) rem(14) !important;
    font-size: 1.25rem !important;
  }
  & select, select:focus {
    background-image: url(../images/icon-dropdown.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center right 14px !important;
    background-size: 1rem !important;
    color: var(--BlackCopy);
		font-size: 1.25rem !important;
    &.target { color: var(--BlackCopy); }
    & option.gf_placeholder {
      color: var(--BlackCopy);
    }
  }
  & input[type="radio"] {
    background: var(--Grey) !important;
    border-radius: 50%;
    height: .875rem !important;
    min-width: .875rem !important;
    padding: 0 !important;
    margin: 0 4px 0 16px !important;
    &:checked { 
      background-color: var(--Yellow) !important; 
      border-color: var(--Yellow) !important;; 
    }
  }
  & input[type="checkbox"] {
    background: var(--Grey) !important;
    border-radius: 3px;
    height: .875rem !important;
    min-width: .875rem !important;
    padding: 0 !important;
    margin: 0 4px 0 16px !important;
    &:checked { 
      background-color: var(--Yellow) !important;; 
      border-color: var(--Yellow) !important;; 
    }
  }
  & button[type="submit"] { 
    outline: none;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    cursor: pointer; 
    font-size: 1em; 
    font-family: var(--HeadCopy);
  } 
}
.form-container {
  margin: 50px 0;
  & h2, & h3 {
    margin-bottom: -1rem;
    text-shadow: none;
  }
  @media (--768vp) {
    padding: 0 10px;
  }
}
#field_2_9, #field_11_9, #field_12_9, #field_13_9, #field_14_9, #field_15_9 {
  width: 35%;
  @media (--640vp) { 
    width: 100%;
  }
}
#field_2_10, #field_11_10, #field_12_10, #field_13_10, #field_14_10, #field_15_10 {
  width: 15%;
  @media (--640vp) { 
    width: 100%;
  }
}
#field_2_18 {
	margin-top: 1rem !important;
	& > label { display: none; }
}

/*-------------------------------------------------------------------
    GRAVITY FORM OVERRIDES
-------------------------------------------------------------------*/
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: inherit !important;
}
.gform_wrapper .gfield_error .gfield_label { 
  color: inherit !important; 
}
.gform_wrapper li.gfield.gfield_error { 
  margin-right: 0 !important; 
}
.validation_message { display: none !important; }
.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent !important;
  border: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  & select, input {
    margin-bottom: 0 !important;
  }
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.gform_wrapper li.gfield_error textarea {
  border: none !important;
  border-bottom: 3px solid #c14e3d !important;
  padding-right: 16px !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0 !important;
  color: #c14e3d !important;;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1 !important;
  min-height: 1rem !important;
}
.gform_footer {
  padding-bottom: 0 !important;
}
.LV_valid_field, select.LV_invalid_field { 
  border-bottom: 3px solid var(--Yellow) !important; 
}
.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
  vertical-align: bottom !important;
}
.gf_list_inline > label {  
  margin-top: -1.5rem !important;
}