/*-------------------------------------------------------------------
    DEFAULT CONTENT AREA
-------------------------------------------------------------------*/

.editor-contents {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 1em;
	position: relative;
	&>h2:first-child,
	&>h3:first-child,
	&>h4:first-child,
	&>a:first-child+h2,
	&>a:first-child+h3,
	&>a:first-child+h4 {
		margin-top: 0;
	}
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		text-shadow: none;
	}
	& p {
		line-height: 1.5;
	}
	& ul,
	& ol {
		margin-bottom: 40px;
	}
	&>img {
		max-width: 100%;
		height: auto;
	}
}