.thank-yous {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-width: 800px;
	margin: 125px auto 50px;
	padding: 0 1em;
	& h2 {
		width: 100%;
		padding: 0 2rem;
		font-size: 1.75em;
	}
	& .odd-column,
	& .even-column {
		width: 50%;
		padding: 0 2rem 0;
		@media (--640vp) {
			width: 100%;
			padding: 0;
		}
		& p {
			margin-bottom: 2em;
		}
	}
}