.page-title {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 500px;
	padding: 2em;
	padding-top: calc(80px + 2em);
	padding-top: calc(40px + 2em);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media (--768vp) {
		min-height: 400px;
	}
	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 40px;
		background: #000;
		opacity: .5;
	}
	&>.block {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 1024px;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		@media (--768vp) {
			justify-content: center;
		}
		& h1 {
			color: var(--White);
			margin: 0;
			@media (--768vp) {
				width: 100%;
				text-align: center;
			}
		}
		& .title-video {
			border-radius: 50%;
			height: 75px;
			width: 75px;
			padding: 12px;
			border: 3px solid var(--White);
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			& svg {
				stroke: var(--White);
				stroke-width: 3px;
				fill: transparent;
				width: 50px;
				& #a {
					fill: white;
					stroke: transparent;
				}
			}
		}
	}
	&>.title-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .75;
	}
}

.title-lightbox {
	position: fixed;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.01);
	transition: all .35s ease-in-out 0s;
	& .contents {
		width: 90vw;
		height: 80vh;
		max-width: 900px;
		max-height: 475px;
		position: relative;
		@media (--640vp) {
			height: 300px !important;
		}
		&>svg {
			position: absolute;
			width: 40px;
			height: 40px;
			z-index: 2;
			right: -75px;
			top: -75px;
			&:hover,
			&:focus {
				cursor: pointer;
			}
			@media (--1024vp) {
				right: 50%;
				transform: translateX(50%);
			}
		}
		& iframe,
		& p {
			width: 100% !important;
			height: 100% !important;
			transform: scale(0.01);
			transition: all .35s ease-in-out .2s;
		}
	}
	&.active {
		opacity: 1;
		transform: scale(1);
		& .contents p,
		& .contents iframe {
			transform: scale(1);
		}
	}
}