/*-------------------------------------------------------------------
    HEAD
-------------------------------------------------------------------*/

header {
	background: var(--White);
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 4px solid var(--Grey);
	&>.block {
		max-width: 1024px;
		margin: 0 auto;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		@media (--1200vp) {
			padding: 0 10px;
		}
		@media (--640vp) {
			justify-content: space-between;
			padding: .25rem .5rem;
		}
	}
	& nav {
		@media (--640vp) {
			position: fixed;
			top: 63px;
			left: 0;
			background: white;
			height: 0;
			width: 100vw;
			overflow: hidden;
			min-width: 300px;
			transition: all .5s ease-in-out 0s;
		}
		&.show {
			height: 100vh;
		}
		& ul {
			padding: 0;
			@media (--640vp) {
				margin: 0 auto;
				max-width: 250px;
			}
		}
		& li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
			@media (--640vp) {
				display: block;
				text-align: center;
				border-bottom: 1px solid var(--Grey);
			}
		}
		& a {
			padding: .25rem 1rem;
			text-decoration: none;
			font-family: var(--BodyCopy);
			font-size: 1.125rem;
			color: var(--Black);
			transition: all .5s ease-in-out 0s;
			&:hover,
			&:focus {
				font-weight: bold;
				text-decoration: none;
			}
			@media (--1024vp) {
				font-size: 1rem;
			}
			@media (--640vp) {
				display: block;
				padding: 1.5rem 2rem;
				font-size: 1.25rem;
			}
		}
		& li.current-menu-item a {
			font-weight: 700;
			font-family: var(--BodyCopy-bold);
		}
	}
	& a.brand {
		margin-right: auto;
		& img {
			height: 70px;
			@media (--1024vp) {
				height: 55px;
			}
		}
		@media (--640vp) {
			margin-right: 0;
			order: 1;
		}
	}
	& a.hamburger {
		display: none;
		@media (max-width: 640px) {
			display: block;
			order: 2;
		}
		& svg {
			height: 1.25em;
			width: 2.25em;
			fill: var(--Black);
			transition: all .5s ease-in-out 0s;
			&:hover,
			&:focus {
				fill: var(--Blue);
				cursor: pointer;
			}
		}
	}
}