/*-------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
.gradient-border {
	width: 100%;
	height: 6px;
	margin-top: 100px;
}

footer {
	padding: 1em;
	background-color: var(--Black);
	color: var(--WhiteCopy);
	font-family: var(--HeadCopy-Light);
	font-size: 14px;
	position: relative;
	overflow: hidden;

	&>.block {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& .left {
			max-width: 100px;

			@media (--640vp) {
				max-width: 100%;
				width: 100%;
				text-align: center;
				padding-bottom: 1em;
			}

			& img {
				width: 100px;
			}
		}

		& .right {
			max-width: 600px;

			@media (--640vp) {
				width: 100%;
				text-align: center;
			}

			& nav ul {
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				color: var(--White);
				list-style: none;
				margin: 0;
				padding: 0;

				@media (--640vp) {
					justify-content: center;
				}

				& a {
					padding: 0 .4em;
					color: var(--WhiteCopy);

					&:hover,
					&:focus {
						color: var(--Blue);
						text-decoration: none;
					}
				}

				& li:last-child a {
					padding-right: 0;
				}
			}

			& p {
				font-size: .875em;
			}
		}
	}
}