/*-------------------------------------------------------------------
    FORCE LOST GRID TO USE FLEX OVER FLOAT
-------------------------------------------------------------------*/

@lost flexbox flex;
/*-------------------------------------------------------------------
    CSSNEXT VARIABLES
-------------------------------------------------------------------*/

:root {
	--White: #FFFFFF;
	--Grey: #D9DFF1;
	--Black: #1c2541;
	--Dblue: #131C2D;
	--Blue: #35a7ff;
	--LightGreen: #BCF2D7;
	--Orange: #FD7315;
	--Yellow: #FFD200;
	--DOrange: #BE4D00;
	--WhiteCopy: #FFFFFF;
	--GreyCopy: #babdc6;
	--BlackCopy: #000000;
	--Gradient: linear-gradient(to right, #FD7315 -50%, #FFD200 50%);
	--GradientBackwards: linear-gradient(to bottom, rgba(19, 28, 45, 1) 0%, rgba(62, 96, 189, 1) 50%, rgba(188, 242, 215, 1) 100%);
	--GradientText: -webkit-linear-gradient(to right, #FD7315 -50%, #FFD200 50%);
	--GradientBanner: linear-gradient(to bottom, rgba(19, 28, 45, 0.8) 0%, rgba(19, 28, 45, 0.8) 20%, rgba(62, 96, 189, 0.8) 40%, rgba(188, 242, 215, 0.8) 75%, rgba(255, 208, 0, 0.8) 100%);
	--GradientBottomBanner: linear-gradient(to right, rgba(19, 28, 45, 1) 0%, rgba(19, 28, 45, 1) 20%, rgba(62, 96, 189, 1) 40%, rgba(188, 242, 215, 1) 75%, rgba(255, 208, 0, 1) 100%);
	--HeadCopy: 'Montserrat-Bold', sans-serif;
	--HeadCopy-Light: 'Montserrat-Light', sans-serif;
	--BodyCopy-bold: 'Lato-Bold', sans-serif;
	--BodyCopy: 'Lato-Light', sans-serif;
}

/*-------------------------------------------------------------------
    Media Queries
-------------------------------------------------------------------*/

@custom-media --515vp (max-width: 515px);
@custom-media --640vp (max-width: 640px);
@custom-media --768vp (max-width: 768px);
@custom-media --1024vp (max-width: 1024px);
@custom-media --1200vp (max-width: 1200px);
@custom-media --1400vp (max-width: 1400px);
/*-------------------------------------------------------------------
    ANIMATIONS
-------------------------------------------------------------------*/

@keyframes countdown {
	0% {
		stroke-dashoffset: 220;
		opacity: 0%;
	}
	50% {
		opacity: .75%;
	}
}

@keyframes fadeInScale {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.fadeInScale {
	animation-name: fadeInScale;
}

.fadeIn {
	animation-name: fadeIn;
}

/*-------------------------------------------------------------------
    UNVERSAL BOX-SIZING
-------------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-weight: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.wrap.container {
	margin-top: 74px;
	@media (--1024vp) {
		margin-top: 60px;
	}
	@media (--768vp) {
		margin-top: 67px;
	}
}

/*-------------------------------------------------------------------
    ANCHOR POINTS
-------------------------------------------------------------------*/

.anchor {
	display: block;
	position: absolute;
	top: -200px !important;
	left: 0 !important;
}

/*-------------------------------------------------------------------
    SLICK SLIDER OVERRIDE
-------------------------------------------------------------------*/

.slick-slide,
.slick-slide * {
	outline: none;
}