/*-------------------------------------------------------------------
    CATEGORIES NACIGATION
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    POST FEED
-------------------------------------------------------------------*/

.article-feed {
	max-width: 1024px;
	margin: 100px auto 10px auto;
	padding: 1em;
	& h2 {
		width: 100%;
	}
	& hr {
		height: 5px;
	}
}

/*-------------------------------------------------------------------
    LOAD MORE
-------------------------------------------------------------------*/

.navigation.pagination {
	display: none;
}

.load-more {
	margin: 25px auto;
	text-align: center;
	display: table;
	font-size: 1.5em;
	cursor: pointer;
	color: var(--Grey);
	transition: all .35s linear;
	&:hover,
	&:focus {
		text-decoration: none;
		transform: translateY(10px);
	}
}

.page-load-status {
	text-align: center;
	display: none;
}