.anchor-point {
	transform: translatey(-100px);
	display: block;
}

.year-nav {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 1em;
	display: grid;
	grid-column-gap: 2%;
	grid-row-gap: 2vh;
	grid-template-columns: repeat(auto-fit, 23.5%);
	@media (--640vp) {
		grid-template-columns: repeat(auto-fit, 49%);
	}
	& a {
		display: block;
		width: 100%;
		height: auto;
		padding: 1.5em 1em;
		border-radius: 1.4em;
		background-color: var(--White);
		text-align: center;
		color: var(--Black);
		text-decoration: none;
		position: relative;
		@media (--640vp) {
			padding: 1em;
			border-radius: 1em;
		}
		&:hover,
		&:focus {
			transform: translateY(-6px);
			text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
			color: var(--White);
			font-weight: bold;
			transition: all .35s ease-in-out 0s;
		}
		& .gradient {
			position: absolute;
			top: -2px;
			right: -2px;
			bottom: -2px;
			left: -2px;
			border-radius: 1.5em;
			z-index: -1;
		}
	}
}