.min-height {
	min-height: 80vh;
}

/*-------------------------------------------------------------------
    SINGLE BLOG POST
-------------------------------------------------------------------*/

.single-post .post {
	max-width: 1024px;
	margin: 100px auto 10px auto;
	padding: 1em;
	& h2 {
		width: 100%;
	}
	& hr {
		height: 5px;
	}
}

/*-------------------------------------------------------------------
    GALLERY
-------------------------------------------------------------------*/

.single-gallery .gallery-preview {
	margin-top: 100px;
}

/*-------------------------------------------------------------------
    VIDEO
-------------------------------------------------------------------*/

.single-video .video-preview {
	margin-top: 100px;
}