.gallery-preview {
	max-width: 1024px;
	margin: 10px auto;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	& h2 {
		width: calc(100% - 200px);
	}
	&>a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--HeadCopy);
		font-weight: bold;
		transition: all .35s linear;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: translateX(14px);
		}
		& svg {
			margin-left: 6px;
		}
	}
	& hr {
		height: 5px;
	}
	& ul {
		width: 100%;
		display: grid;
		grid-column-gap: 2%;
		grid-row-gap: 3vh;
		grid-template-columns: repeat(auto-fit, 15%);
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
		@media (--768vp) {
			grid-row-gap: .5vh;
			grid-template-columns: repeat(auto-fit, 32%);
		}
		@media (--515vp) {
			grid-template-columns: repeat(auto-fit, 49%);
		}
		& li {
			transition: all .35s linear;
			cursor: pointer;
			&:hover,
			&:focus {
				opacity: 0.5;
			}
			& img {
				width: 100%;
				height: auto;
			}
		}
	}
}