/*-------------------------------------------------------------------
    BLOG POSTS
-------------------------------------------------------------------*/

.posts {
	max-width: 1024px;
	margin: 10px auto;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	& h2 {
		width: calc(100% - 200px);
	}
	&>a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--HeadCopy);
		font-weight: bold;
		transition: all .35s linear;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: translateX(14px);
		}
		& svg {
			margin-left: 6px;
		}
	}
	& hr {
		height: 5px;
	}
}

.post-preview {
	width: 100%;
	margin: 1em 0 0 0;
	@media (--515vp) {
		margin: 1em 0 2em 0;
	}
	& a {
		color: #000;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		transition: all .35s linear;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: translateX(14px);
			& img {
				opacity: .5;
			}
		}
		&>img {
			width: 14.66%;
			transition: all .35s linear;
			@media (--515vp) {
				width: 50%;
				margin-bottom: 1em;
			}
		}
		&>.block {
			width: calc(100% - 16.66%);
			@media (--515vp) {
				width: 100%;
			}
			& h2 {
				margin: 0;
			}
			& p {
				margin: .5em 0 0 0;
			}
		}
	}
}