.video-preview {
	max-width: 1024px;
	margin: 10px auto;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	& h2 {
		width: calc(100% - 200px);
	}
	&>a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--HeadCopy);
		font-weight: bold;
		transition: all .35s linear;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: translateX(14px);
		}
		& svg {
			margin-left: 6px;
		}
	}
	& hr {
		height: 5px;
	}
	& ul {
		width: 100%;
		display: grid;
		grid-column-gap: 2%;
		grid-row-gap: 3vh;
		grid-template-columns: repeat(auto-fit, 15%);
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
		@media (--768vp) {
			grid-row-gap: .5vh;
			grid-template-columns: repeat(auto-fit, 32%);
		}
		@media (--515vp) {
			grid-template-columns: repeat(auto-fit, 49%);
		}
		& li {
			position: relative;
			cursor: pointer;
			transition: all .35s linear;
			&:hover,
			&:focus {
				opacity: 0.5;
			}
			& svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				& path {
					fill: #fff;
					stroke: transparent;
				}
			}
			& img {
				width: 100%;
				height: auto;
				transition: all .35s linear;
			}
		}
	}
	& .video-lightbox {
		position: fixed;
		z-index: 10000;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.65);
		overflow: hidden;
		opacity: 0;
		transform: scale(0.01);
		transition: all .35s ease-in-out 0s;
		& .contents {
			width: 90vw;
			height: 80vh;
			max-width: 900px;
			max-height: 475px;
			position: relative;
			@media (--640vp) {
				height: 300px !important;
			}
			&>svg {
				position: absolute;
				width: 40px;
				height: 40px;
				z-index: 2;
				right: -75px;
				top: -75px;
				&:hover,
				&:focus {
					cursor: pointer;
				}
				@media (--1024vp) {
					right: 50%;
					transform: translateX(50%);
				}
			}
			& iframe,
			& p {
				width: 100% !important;
				height: 100% !important;
				transform: scale(0.01);
				transition: all .35s ease-in-out .2s;
			}
		}
		&.active {
			opacity: 1;
			transform: scale(1);
			& .contents p,
			& .contents iframe {
				transform: scale(1);
			}
		}
	}
}